.user_reviews {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.review_content {
  align-self: flex-start;
}

.review_content h1,
.message_content h1 {
  color: #620d05;
  margin: 15px 0;
  text-align: center;
}

table > tr > td > h3,
table > tr > td,
table > tr > td > a {
  color: #620d05;
}
