@media screen and (max-width: 1000px) {
  .sign_in_input,
  .signin_submit_button {
    width: 90vw;
  }
}

@media screen and (max-width: 1125px) {
  .products_list_section {
    width: 100%;
    padding: 0 20px;
  }
  .checkout_section {
    width: 100%;
    margin: 10px 20px;
  }
  .shipping_details,
  .order_summary {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .featured_card {
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  .garments_city_footer_section {
    display: block;
    padding: 20px;
  }
  .social_item {
    text-align: start;
  }
  .garments_city_links,
  .policy {
    margin-top: 20px;
  }
  .write_review {
    width: 80vw;
  }
  .contact_content fieldset input,
  .contact_content fieldset textarea,
  .post_message {
    width: 80vw;
  }
}

@media screen and (max-width: 470px) {
  .image_section > figure {
    width: 80vw;
  }
  .checkout_buttons,
  .details {
    width: 90%;
    margin: 0 10px;
  }
  .checkout_buttons {
    margin-top: 20px;
  }
}

@media screen and (max-width: 300px) {
  .cart_button {
    width: 80%;
  }
  .size_list li label {
    margin-left: 3px;
  }
}
